extends layout

block content
  .main.container.text-xs-center
    h1.display-3 Login &amp; Authenticate
    p.lead See whose using this apps in a minute
    a.btn.btn-info-outline.btn-lg(href='/register') Get Started for FREE
